<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h2>You visited this site {{ session['counter'] }}</h2>
    <button onclick="window.location.href = 'http://localhost:5000/destroy_session';">restart</button>
    <button onclick="window.location.href = 'http://localhost:5000/add_two';">add two to visits</button>
</body>
</html>